#r3_user, #r3_results, form, #r1_deleteAfter {
    display:none;
}

tr, td, th {
border: 1px solid;
}

td, th{
    width:80px;
    text-align: center;
}

.rankTable {
    width:1200px;
}

.bestPlayersRankTable, .roundsRankTable {
    width: 600px;
}

.rankTable td, .rankTable th, .roundsRankTable td, .roundsRankTable th, .bestPlayersRankTable td, .bestPlayersRankTable th {
    height: 40px;
}

#r2_timeUp, #r2_p-wordsToFind, form {
    display:none;
    margin-top:0;
}